.div1, .div2, .div3 {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid black;
  }
  
  .div1 p {
    font-size: 24px;
    font-family: Arial;
    color: blue;
  }
  
  .div2 p {
    font-size: 18px;
    font-family: Times New Roman;
    color: red;
  }
  
  .div3 p {
    font-size: 36px;
    font-family: Helvetica;
    color: green;
  }
  